#floatleft {
	float: left;
	padding: 20px;
	margin-left: 100px;
	margin-top: 20px;
	width: 200px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
	font-weight: bold;
}

#floatright {
	
	padding: 50px;
	padding-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: -50px;
	background: #fff;
	text-align: right;
	border: 1px #cccccc solid;
	

	
}

#left {
	width: 700px;
	float: left;
	background-color: #fff;
	padding: 20px;
	margin-left: 100px;
	position: relative;
	border: 1px #cccccc solid;
}

#right {
	width: 200px;
	float: left;
	background-color: #fff;
	padding: 20px;
	margin-left: 50px;
	text-align: center;
	border: 1px #cccccc solid;
}

.clear::after {
	content: "";
	display: block;
	clear: both;
	overflow: auto;
}

.tealBackground {
	background-color: #4aaaa5;

}

.tealHeadings {
	margin-bottom: 30px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	padding-bottom: 40px;
	border-bottom: #cccccc 2px solid;
}

#connectBorder {
	border-bottom: #cccccc 1px solid;
}

/*
.mainHeader {
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	
}
*/
h1 {
	color: white;
	
}

h2 {
	font-size: 28px;
}
h3 {
	font-size: 20px;
}


.connectMargin {
	margin: 3px;
}

footer {
	width: 100%;
	text-align: center;
	background: #666;
	padding: 40px;
	margin-top: 20px;
	border-top: 10px #4aaaa5 solid;
	margin-left: -10px;
	color: white;

}


p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 2em;
	padding: 20px;
}

.imgAbout {
	float: left;
}

.clearAbout {
	clear: left;
}

/*
.mainFooter {
	background-color: #666666;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

} 

.mainContent {
	background: #ffffff
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif
}

.sidebarContent {
	background: #ffffff
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif
}

.entireContent {
	width: 960px;
}

.mainContent {
	width: 650px;
}

.sideBar {
	width: 270px;
}

*/
.oldMoon {
	background-image: url(../images/oldmoon.jpg);
}

.buttonMargin {
	margin-right: 375px;
}

.button
	{
		background-color: #fff;
		padding: 3px;
		padding-right: 15px;
		border: 0px #fff;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
		margin-right: 5px;
	}


#buttonBorder {
	border-right: 1px #cccccc solid;
}

.portfolioLayout {
	float: left;
	margin: 50px;
}

.image { 
   position: relative; 
   width: 100%; 
}

#hangman { 
   position: absolute; 
   top: 180px;
   left: 50px; 
   width: 210px;
   color: #ffffff;
   background: #4aaaa5;
   padding: 20px;
   text-align: center;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: bold;
}

#rpgGame { 
   position: absolute; 
   top: 180px;
   left: 400px; 
   width: 210px;
   color: #ffffff;
   background: #4aaaa5;
   padding: 20px;
   text-align: center;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: bold;
}

#triviaGame { 
   position: absolute; 
   top: 180px;
   left: 50px; 
   width: 210px;
   color: #ffffff;
   background: #4aaaa5;
   padding: 20px;
   text-align: center;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: bold;
}

#rutgersInfoWidget { 
   position: absolute; 
   top: 180px;
   left: 400px; 
   width: 210px;
   color: #ffffff;
   background: #4aaaa5;
   padding: 20px;
   text-align: center;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: bold;
}

#RockPaperScissors { 
   position: absolute; 
   top: 180px;
   left: 50px; 
   width: 210px;
   color: #ffffff;
   background: #4aaaa5;
   padding: 20px;
   text-align: center;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: bold;
}

#submitButton {
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px
}

.contactFont {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}

.wrapper {
  width: 1440px;

}

@media screen and (max-width: 980px) {

	.wrapper {
    width: 850px;
 }


 	#floatleft {
 		margin-left: 30px;
 	}

 	#floatright {
 		margin-right: 50px;
 	}

 	#left {
 		width: 450px;
 		margin-left: 30px;
 	}

 	#right {
 		width: 180px;
 		margin-left: 20px;
 	}

 	.image {
 		margin-left: 40px;
 	}

 	#rpgGame {
		position: absolute;
		top: 480px;
		left: 50px;

	}

	#rutgersInfoWidget {
		position: absolute;
		top: 480px;
		left: 50px;
	}

	.buttonMargin {
		margin-right: 40px;
	}

}

@media screen and (max-width: 768px) {

	.wrapper {
		width:750px;
	}

	#floatleft {
		margin-left: 40px;
	}

	#floatright {
		margin-right: 100px;
		padding: 50px;
	
}
	#left {
 		width:550px;
 		margin-left: 40px;
 	}

 	#right {
 		width:550px;
 		margin-left: 40px;
 		margin-top: 10px;
 	}
 	.image {
 		margin-left: 100px;
 	}

 	footer {
 		width:550px;
 		margin-left: 20px;
 	}

 	.buttonMargin {
		margin-right: 0px;
}

  }



@media screen and (max-width: 640px) {

	.wrapper {
    width: 600px;
  }

   #floatleft {
   	width: 550px;
   	margin-left: 40px;
   	margin-top: 10px;
   }

	#floatright {
		width: 550px;
		margin-left: 40px;
		padding: 20px;
		clear: both;
		text-align: center;
	}

 	#left {
 		width:550px;
 		margin-left: 40px;
 	}

 	#right {
 		width:550px;
 		margin-left: 40px;
 		margin-top: 10px;
 	}

 	footer {
 		width:550px;
 		margin-left: 20px;
 	}

 	.buttonMargin {
		margin-right: 0px;
}

	.image {
		margin-left: 120px;
	}
		
	#rpgGame {
		position: absolute;
		top: 480px;

	}

	#rutgersInfoWidget {
		position: absolute;
		top: 480px;
	}

	.button {
		padding-left: 50px;
		padding-right: 50px;
	}
}


